<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Simple booking interface</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="/css/booking.css">
</head>
<body>
		<div class="center">
			<h2>Simple Booking Demo</h2>
		</div>
		<form class="center" action="#" th:action="@{/booking}" th:object="${startbookinfo}" method="post">
			<table>
				<tr>
					<td><label for="name"> Full Name: </label></td>
					<td><input type="text" size="45" id="name" th:field="*{bookingInfo.userName}"/></td>
				</tr>
				<tr>
					<td><label for="startDate"> Start Date: </label></td>
					<td><input type="date" id="startDate" th:field="*{bookingInfo.startDate}"/></td>
				</tr>
				<tr>
					<td><label for="endDate"> End Date: </label></td>
					<td><input type="date" id="endDate" th:field="*{bookingInfo.endDate}"/></td>
				</tr>
				<tr>
					<td><label for="cities"> Choose destination: </label></td>
					<td><select id="cities" th:field="*{city}">
						<option th:each="city:${cities}" th:value="${city}"
							th:text="${city}">----</option>
					</select>
					</td>
				</tr>
				<tr>
					<td><label>Hotel features: </label></td>
					<td>
						<input type="checkbox" th:text="'Parking'" th:field="*{hotelSelector.parking}">						
						<input type="checkbox" th:text="'Laundry'" th:field="*{hotelSelector.laundry}">						
						<input type="checkbox" th:text="'Swimming Pool'" th:field="*{hotelSelector.swimmingPool}">						
						<input type="checkbox" th:text="'Restaurant'" th:field="*{hotelSelector.restaurant}">						
						<input type="checkbox" th:text="'Nursery'" th:field="*{hotelSelector.nursery}">						
						<input type="checkbox" th:text="'Wifi'" th:field="*{hotelSelector.wifi}">						
					</td>
				</tr>
				<tr>
					<td><label>Room features: </label></td>
					<td>
						<input type="checkbox" th:text="'King Size Bed'" th:field="*{roomSelector.kingSizeBed}">						
						<input type="checkbox" th:text="'Bathtub'" th:field="*{roomSelector.bathtub}">						
						<input type="checkbox" th:text="'Terrace'" th:field="*{roomSelector.terrace}">						
						<input type="checkbox" th:text="'Sofa'" th:field="*{roomSelector.sofa}">						
						<input type="checkbox" th:text="'Desktop'" th:field="*{roomSelector.desktop}">						
						<input type="checkbox" th:text="'Nice View'" th:field="*{roomSelector.view}">						
					</td>
				</tr>
				<tr>
					<td><input type="submit" value="Search"></td>
					<td><input type="reset" value="Clean"></td>
				</tr>
			</table>
		</form>
</body>
</html>