<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Simple booking interface</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
     <link rel="stylesheet" type="text/css" href="css/booking.css">
</head>
<body>
	<div class="center">
		<p th:text="'Booking details for '+${name}"/>
	</div>
	<form class="center">
	<table>
		<tr>
			<th>Hotel</th>
			<th>Room Type</th>
		<tr>
		<tr th:each="hotel:${rooms.entrySet()}">
			<td th:text="${hotel.key.name}"/>
			<td th:each="room: ${hotel.value}">
				<input type="radio" name="hotel"  th:text="${room.id}"/>
			<td>
		</tr>	
	</table>
	</form>
</body>
</html>